- if signed_in?
	.row
		%aside.span4
			%section
				= render 'shared/user_info'
			%section
				= render 'shared/review_form'
- else
	.center.hero-unit
		%h1 UReview
		%h2
			Give your ten cents and let the world
			know what games are worth it.
		= link_to "Sign Up", '/signup', class: 'btn btn-large btn-primary'
		= link_to "Browse Games", '/games', class: 'btn btn-large-primary'
