- if @critic.errors.any?
	#error_explanation
		.alert.alert-error
			The form contians #{pluralize(@critic.errors.count, "error")}.
		%ul
			- @critic.errors.full_messages.each do |msg|
				%li
					* #{msg}